* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: #777;
}

input[type="file"] {
  margin-bottom: 4px;
}

#fileContainer {
  display: flex;
  gap: 6px;
}

#fileContainer input,
#fileContainer button {
  height: 21px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#subContainer {
  display: flex;
  flex: 1;
}

#dataContainer {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

#dataContainer textarea {
  height: 100px;
  resize: vertical;
}

#dataContainer input,
#dataContainer textarea,
#dataContainer select {
  margin-bottom: 6px;
}

input[type="checkbox"] {
  width: fit-content;
}

.flex1 {
  flex: 1;
}
